/*
	@name fram_3
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_fram_3_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__fram_3_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#rectangle_16 {
	top: 987px;
	left: 0px;
	width: 1440px;
	height: 37px;
	background:rgba(0,0,0,1);
}


#thesam_in {
	top: 986px;
	left: 1285px;
	width: 121.3px;
	height: 42.3px;
	overflow: hidden;
	font-family: SNACKID;
	font-size: 23px;
	text-align: center;
	letter-spacing: 0.92px;
	color:#FFFFFF;
}


#thank_you_for_visiting {
	top: 986px;
	left: 582px;
	width: 280.3px;
	height: 42.3px;
	overflow: hidden;
	font-family: SNACKID;
	font-size: 23px;
	text-align: center;
	letter-spacing: 0.92px;
	color:#FFFFFF;
}


#__made_inindia {
	top: 986px;
	left: 45px;
	width: 175.3px;
	height: 42.3px;
	overflow: hidden;
	font-family: SNACKID;
	font-size: 23px;
	text-align: center;
	letter-spacing: 0.92px;
	color:#FFFFFF;
}


#rectangle_4 {
	top: 204px;
	left: 1170px;
	width: 176px;
	height: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-ms-box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	-o-box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	-webkit-box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	-moz-box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	background:rgba(212.5,212.5,212.5,1);
}


#social_media {
	top: 207px;
	left: 1176px;
	width: 153px;
	height: 30px;
	overflow: hidden;
	font-family: Sniglet;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.4px;
	color:#000000;
}


#rectangle_3 {
	top: 204px;
	left: 1042px;
	width: 95px;
	height: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-ms-box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	-o-box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	-webkit-box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	-moz-box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	box-shadow:0px 4px 15px 1px rgba(0,0,0,1);
	background:rgba(212.5,212.5,212.5,1);
}


#home {
	top: 207px;
	left: 1056px;
	width: 68px;
	height: 30px;
	overflow: hidden;
	font-family: Sniglet;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.4px;
	color:#000000;
}


#picsart_22_02_05_21_29_36_296_1 {
	top: 14px;
	left: 21px;
	width: 1399px;
	height: 163px;
}


#picsart_22_02_08_21_29_22_259_1 {
	top: 193px;
	left: 44px;
	width: 51px;
	height: 51px;
}


#rectangle_24 {
	top: 322px;
	left: 117px;
	width: 1173px;
	height: 403px;
}


#server_close_event_soon {
	top: 416px;
	left: 487px;
	width: 451px;
	height: 40px;
	overflow: hidden;
	font-family: Brave Phoenix;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.2px;
	color:#000000;
}


#minecreft_event {
	top: 274px;
	left: 336px;
	width: 760px;
	height: 112px;
	overflow: hidden;
	font-family: SNACKID;
	font-size: 60px;
	text-align: center;
	letter-spacing: 2.4px;
	-ms-text-shadow:1px 5px 19px rgba(0,0,0,0.6);
	-o-text-shadow:1px 5px 19px rgba(0,0,0,0.6);
	-webkit-text-shadow:1px 5px 19px rgba(0,0,0,0.6);
	-moz-text-shadow:1px 5px 19px rgba(0,0,0,0.6);
	text-shadow:1px 5px 19px rgba(0,0,0,0.6);
	color:#000000;
}


#java_edition {
	top: 572px;
	left: 257px;
	width: 280px;
	height: 64px;
	overflow: hidden;
	font-family: SNACKID;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.2px;
	color:#000000;
}


#pocket_edition {
	top: 563px;
	left: 797px;
	width: 445px;
	height: 64px;
	overflow: hidden;
	font-family: SNACKID;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.2px;
	color:#000000;
}


#rectangle_25 {
	top: 630px;
	left: 178px;
	width: 439px;
	height: 236px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background:rgba(238,224.12,188.42,1);
}


#ip_ {
	top: 650px;
	left: 251px;
	width: 37px;
	height: 45px;
	overflow: hidden;
	font-family: Power Slime;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.2px;
	color:#000000;
}


#mc_thesam_in {
	top: 630px;
	left: 228px;
	width: 324px;
	height: 62px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.9px;
	color:#000000;
}


#port_ {
	top: 701px;
	left: 213px;
	width: 75px;
	height: 45px;
	overflow: hidden;
	font-family: Power Slime;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.2px;
	color:#000000;
}


#_25565 {
	top: 681px;
	left: 174px;
	width: 324px;
	height: 62px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.9px;
	color:#000000;
}


#rectangle_26 {
	top: 767px;
	left: 225px;
	width: 348px;
	height: 72px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background:rgba(217,217,217,1);
}


#download {
	top: 779px;
	left: 279px;
	width: 235px;
	height: 59px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1.2px;
	color:#000000;
}


#rectangle_27 {
	top: 630px;
	left: 801px;
	width: 439px;
	height: 236px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background:rgba(238,224.12,188.42,1);
}


#ip__ek1 {
	top: 650px;
	left: 880px;
	width: 37px;
	height: 45px;
	overflow: hidden;
	font-family: Power Slime;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.2px;
	color:#000000;
}


#mc_thesam_in_ek1 {
	top: 656px;
	left: 861px;
	width: 324px;
	height: 36px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.9px;
	color:#000000;
}


#port__ek1 {
	top: 701px;
	left: 846px;
	width: 75px;
	height: 45px;
	overflow: hidden;
	font-family: Power Slime;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.2px;
	color:#000000;
}


#_25565_ek1 {
	top: 682px;
	left: 811px;
	width: 324px;
	height: 62px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.9px;
	color:#000000;
}


#rectangle_28 {
	top: 767px;
	left: 847px;
	width: 348px;
	height: 72px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background:rgba(217,217,217,1);
}


#download_ek1 {
	top: 779px;
	left: 899px;
	width: 235px;
	height: 59px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1.2px;
	color:#000000;
}



/* Add your custom CSS here */
